/* Estilos para el cuerpo de la página */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  /* Estilos para los títulos */
  h1 {
    color: #333;
  }
  
  /* Estilos para los enlaces */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  